*::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: transparent;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
*::-webkit-scrollbar-track {
    /*background-color: #EDEDED;*/
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
*::-webkit-scrollbar-thumb {
    background-color: #8193DF;
    border-radius: 5px;
}

/*定义滑块 内阴影+圆角*/
.scrollbarHide::-webkit-scrollbar {
    display: none;
}

.scrollbarShow::-webkit-scrollbar {
    display: block
}
